<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ServerConnectionString" connectionString="Data Source=192.168.39.111,49170;Initial Catalog=DataGrid;Persist Security Info=True;User ID=sa;Password=AK123!@#" />
	</connectionStrings>
</configuration>
